In [58]:
import numpy as np
import pandas as pd


results = [[0.6575342465753424, 0.4528301886792453, 0.43478260869565216, 0.761904761904762, 0.5454545454545455], 
            [0.7887323943661971, 0.6086956521739131, 0.5777777777777778, 0.7741935483870969, 0.6545454545454547], 
            [0.7999999999999999, 0.693877551020408, 0.6666666666666666, 0.6666666666666667, 0.75], 
            [0.8055555555555555, 0.8333333333333333, 0.8181818181818182, 0.7868852459016393, 0.782608695652174], 
            [0.8484848484848486, 0.7999999999999999, 0.8, 0.7868852459016394, 0.8148148148148148], 
            [0.9090909090909091, 0.76, 0.782608695652174, 0.912280701754386, 0.7727272727272727], 
            [0.7999999999999999, 0.8292682926829269, 0.7619047619047619, 0.8846153846153846, 0.8771929824561403], 
            [0.8666666666666665, 0.8333333333333333, 0.888888888888889, 0.847457627118644, 0.8636363636363636], 
            [0.8571428571428572, 0.8444444444444444, 0.8260869565217391, 0.9310344827586207, 0.9565217391304348], 
            [0.9117647058823528, 0.9333333333333332, 0.8936170212765957, 0.9180327868852459, 0.8461538461538461]]
df = pd.DataFrame(results)
print(df.describe().iloc[1].mean())
df.describe()

0.7883643134959375

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.824497   0.758912   0.745052   0.826996   0.786366
std     0.073716   0.139816   0.145213   0.085682   0.117613
min     0.657534   0.452830   0.434783   0.666667   0.545455
25%     0.800000   0.710408   0.690476   0.777366   0.755682
50%     0.827020   0.814634   0.791304   0.817171   0.798712
75%     0.864286   0.833333   0.824111   0.905364   0.859266
max     0.911765   0.933333   0.893617   0.931034   0.956522