In [74]:
import numpy as np
import pandas as pd

0.5283000309275098

              0         1         2         3         4
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.733620  0.412615  0.392741  0.578928  0.523596
std    0.032807  0.053422  0.224066  0.063278  0.098665
min    0.691358  0.357143  0.058824  0.480000  0.431373
25%    0.707317  0.363636  0.263158  0.561404  0.448980
50%    0.747253  0.415094  0.530612  0.593750  0.507937
75%    0.752941  0.444444  0.539683  0.613333  0.551724
max    0.769231  0.482759  0.571429  0.646154  0.677966

In [85]:
results = [[0.515625, 0.5625, 0.546875, 0.53125, 0.5, 0.578125, 0.53125, 0.5625, 0.53125, 0.546875], [0.46875, 0.546875, 0.421875, 0.515625, 0.484375, 0.453125, 0.53125, 0.5, 0.578125, 0.515625], [0.578125, 0.578125, 0.578125, 0.578125, 0.578125, 0.59375, 0.609375, 0.59375, 0.578125, 0.5625], [0.53125, 0.578125, 0.671875, 0.609375, 0.6875, 0.65625, 0.65625, 0.625, 0.671875, 0.625], [0.578125, 0.5, 0.609375, 0.578125, 0.515625, 0.59375, 0.515625, 0.609375, 0.5, 0.546875]]
df = pd.DataFrame(results).T
print(df.describe().iloc[1].mean())
df.describe()

0.5621875000000001

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.540625   0.501563   0.582812   0.631250   0.554688
std     0.023524   0.046263   0.012864   0.048412   0.044347
min     0.500000   0.421875   0.562500   0.531250   0.500000
25%     0.531250   0.472656   0.578125   0.613281   0.515625
50%     0.539062   0.507812   0.578125   0.640625   0.562500
75%     0.558594   0.527344   0.589844   0.667969   0.589844
max     0.578125   0.578125   0.609375   0.687500   0.609375

In [88]:
results = [[0.609375, 0.515625, 0.5625, 0.5, 0.5, 0.59375, 0.671875, 0.578125, 0.546875, 0.640625], [0.5, 0.546875, 0.5, 0.515625, 0.625, 0.5, 0.59375, 0.53125, 0.625, 0.53125], [0.5625, 0.546875, 0.5625, 0.53125, 0.59375, 0.578125, 0.5625, 0.578125, 0.578125, 0.5625], [0.671875, 0.625, 0.65625, 0.65625, 0.65625, 0.65625, 0.640625, 0.65625, 0.65625, 0.640625], [0.578125, 0.546875, 0.609375, 0.609375, 0.53125, 0.515625, 0.5, 0.5625, 0.40625, 0.578125]]
df = pd.DataFrame(results).T
print(df.describe().iloc[1].mean())
df.describe()

0.5759375

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.571875   0.546875   0.565625   0.651563   0.543750
std     0.058556   0.049957   0.017739   0.012864   0.060650
min     0.500000   0.500000   0.531250   0.625000   0.406250
25%     0.523438   0.503906   0.562500   0.644531   0.519531
50%     0.570312   0.531250   0.562500   0.656250   0.554688
75%     0.605469   0.582031   0.578125   0.656250   0.578125
max     0.671875   0.625000   0.593750   0.671875   0.609375

In [90]:
results = [[0.5833333333333334, 0.5833333333333334, 0.6111111111111112, 0.5972222222222222, 0.5277777777777778, 0.5972222222222222, 0.5694444444444444, 0.5694444444444444, 0.625, 0.5694444444444444], [0.5416666666666666, 0.5972222222222222, 0.5555555555555556, 0.6111111111111112, 0.5277777777777778, 0.5277777777777778, 0.4583333333333333, 0.5416666666666666, 0.5277777777777778, 0.4861111111111111], [0.625, 0.5555555555555556, 0.5555555555555556, 0.6111111111111112, 0.5833333333333334, 0.5972222222222222, 0.5555555555555556, 0.5555555555555556, 0.5555555555555556, 0.6388888888888888], [0.6111111111111112, 0.6527777777777778, 0.6527777777777778, 0.5972222222222222, 0.5833333333333334, 0.5833333333333334, 0.5833333333333334, 0.6388888888888888, 0.6111111111111112, 0.5972222222222222], [0.5138888888888888, 0.5277777777777778, 0.5138888888888888, 0.5555555555555556, 0.4027777777777778, 0.5277777777777778, 0.5416666666666666, 0.4861111111111111, 0.4861111111111111, 0.4027777777777778]]
df = pd.DataFrame(results).T
print(df.describe().iloc[1].mean())
df.describe()

0.5622222222222222

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.583333   0.537500   0.583333   0.611111   0.495833
std     0.026995   0.045385   0.032736   0.027778   0.053612
min     0.527778   0.458333   0.555556   0.583333   0.402778
25%     0.569444   0.527778   0.555556   0.586806   0.486111
50%     0.583333   0.534722   0.569444   0.604167   0.513889
75%     0.597222   0.552083   0.607639   0.631944   0.527778
max     0.625000   0.611111   0.638889   0.652778   0.555556

In [87]:
( 62.77 + 57.07 + 63.62 + 66.33 + 56.49)/5.0

61.25600000000001